.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
 
#maincontent {
  //position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
 
.login {
	position: relative;
	width: 350px;
	margin-top:10%;
	margin-left: auto;
	margin-right: auto;
	background-color: #D6D6D6;
	font-family: Helvetica, Tahoma, Verdana; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.login .top{
	padding: 10px;
	padding-left: 30px;
	background-color: #444;
	color: #fff;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.login .middle{

	width: 300px;
	margin: 5% auto;
        
}

.login form{

	font-size: 15px;
	font-weight: bold;
}

.login .middle input[type="text"], 
.login .middle input[type="password"]{
	width: 280px;
	background: #FFFFFF;
	border: solid 1px #E5E5E5;
	padding: 10px;
	display:block;
	background: 
		-webkit-gradient(linear,left top,left 25,from(#FFFFFF),color-stop(4%, #EEEEEE),to(#FFFFFF));
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
	margin-top: 5px;
	margin-bottom: 10px;
    transition: background 2s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus{
	background: #feffef;
	outline: none !important;
}

.login .bottom {
    background-color:#444;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.login .bottom table{
    width: 100%;
}
.login .bottom input[type="submit"] {
       
	background: #e3e3e3;
	border: 2px solid #ccc;
	color: #333;
    font-family: Helvetica, Tahoma, Verdana; 
	font-size: 14px;
	font-weight: bold;
	padding: 6px;
	text-align: center;
	width: 100px;
	cursor:pointer;
	float: right;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	transition:background 0.5s;
    margin-left: auto;
    margin-right: auto;
}

.login .bottom input[type="submit"]:hover{
	background:#feffef;

}

.login .yellow_text {
	text-decoration: none;
	font-weight: bold;
	color: #9C9900;
	font-size: 13px;
	float:right;
	transition:color 0.5s;
        
}
.login .middle .yellow_text {
    float: right;
}

.login .yellow_text:hover{
    color: #000;
}

label.error{
    color: #FF0000;
    font-size: 15px;
    display: block;
}
input.error{
    border:2px solid red !important;
}



