input[type="submit"],  input[type="reset"] {
    margin: 10px 10px 0px 0px;
}

.top a:hover {
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
    color: #fff;
} 
label.error{
    color: #FF0000;
    font-size: 15px;
    display: block;
}

textarea.error{
    border:2px solid red !important;
}

input.error{
    border:2px solid red !important;
}

#starRating{
    padding-right:  10px;
}

control-label{
    padding-top: 0px !important;
}


#responsive-b{
    margin: 0 auto;
}


@media (min-width: 737px) and (max-width: 993px) {

    .control-label{
        float:left;
        margin-left: 50px;
    }

    form input[type="text"], form input[type="email"], form input[type="password"], form select {
        width: 250px;
        float: right;
    }
    .personal-info{
          margin-left: 50px;
    }
    #editProfileInfo{
        width: 460px;
    }
    
    #pass-b {
        float: left;
        margin-left: 5px;
        margin-top: 0px;
    }

}
@media (max-width:991px){
    
    #submitEditProfile{
        margin-left: 147px;
    }
    #pass-b {
        margin-left: 37px;
    }
    
}

@media (max-width:735px){
      #submitEditProfile{
        margin-left: 0px;
    }
    #pass-b {
        margin-left: 0px;
    }
    
}

#menuAvatar img{
    display: block;
    margin: 0 auto;
    
}
#menuNameTime{
    
    text-align: center;
}