

input[type="submit"],  input[type="reset"], button[type="submit"], button[type="reset"] {
    margin: 10px 10px 0px 0px;
}

.top a:hover {
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
    color: #fff;
} 
label.error{
    color: #FF0000;
    font-size: 15px;
    display: block;
}

textarea.error{
    border:2px solid red !important;
}

input.error{
    border:2px solid red !important;
}
#height-error, #weight-error, #age-error, #calorieEatInput-error {
    text-align: center !important;
}


#starRating{
    padding-right:  10px;
}

control-label{
    padding-top: 0px !important;
}


#responsive-b{
    margin: 0 auto;
}


@media (min-width: 737px) and (max-width: 993px) {

    .control-label{
        float:left;
        margin-left: 50px;
    }

    form input[type="text"], form input[type="email"], form input[type="password"], form select {
        width: 250px;
        float: right;
    }
    .personal-info{
        margin-left: 50px;
    }
    #editProfileInfo{
        width: 460px;
    }

    #pass-b {
        float: left;
        margin-left: 5px;
        margin-top: 0px;
    }

}
@media (max-width:991px){

    #submitEditProfile{
        margin-left: 147px;
    }
    #pass-b {
        margin-left: 37px;
    }

}

@media (max-width:735px){
    #submitEditProfile{
        margin-left: 0px;
    }
    #pass-b {
        margin-left: 0px;
    }

}

#menuAvatar img{
    display: block;
    margin: 0 auto;

}
#menuNameTime{

    text-align: center;
}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}

form {
    width: 100%;
}

textarea {
    box-sizing: border-box;
    max-height: 160px; // optional but recommended
    min-height: 38px;
    overflow-x: hidden; // for Firefox (issue #5)
}

.glyphicon{
    margin: 2px;
}

//range weight



body {
    padding: 70px 0px;
}

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}




.taskImportanceLow{
    color:green !important;
}
.taskImportanceMedium{
    color:#A5AD00 !important;
}
.taskImportanceHigh{
    color:red !important;
}

#taskTimeSearch{
    margin-top:10px !important;

}
#searchTaskDropdown{
    width:100% !important;
    position: relative;
    //padding: 20px ;
}



#searchTaskButtonDiv{
    width:100%;
}
#buttonsSearch{
    margin-top:20px;
    margin-bottom:20px
}
@media (max-width:991px){
    #buttonsSearch{
        margin-left: 20px;
    }
}
#height, #weight, #age{
    text-align: center;
    font-size:20px;
}
.table-responsive{
    overflow: hidden;
}
.bigValue label{
    position: absolute;
    font-size: 12px;
    background-color: #ccc;
    color: #888;
    padding: 2px 8px;
    border-radius: 4px 0 0 0;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    cursor: pointer;
    
}
.bigValue{
    padding-bottom: 25px !important;
}
#searchTable{
                    border-collapse: collapse; 
                }
                #searchTable td {
                    //border-left:  solid 2px #D1D1D1;
                    border-right: solid 2px #D1D1D1; 
                    border-bottom: solid 2px #D1D1D1; 
                    padding: 2px ;
                }

                #searchTable th{
                    //border-left:  solid 2px #D1D1D1;
                    border-right: solid 2px #D1D1D1; 
                    border-bottom: solid 2px #D1D1D1; 
                    font-weight: bold;
                    text-align: center;
                    padding: 5px ;              
                }
                .bigCellTd{
                    //display: block ;
                    //max-height: 100px ;
                    max-width: 200px ;
                    //overflow-y: scroll ;
                }
                
.bold_text{
    font-weight:bold;
}
