input[type="submit"],  input[type="reset"] {
    margin: 10px 10px 0px 0px;
}

.top a:hover {
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
    color: #fff;
} 
label.error{
    color: #FF0000;
    font-size: 15px;
    display: block;
}

textarea.error{
    border:2px solid red !important;
}

input.error{
     border:2px solid red !important;
}

#starRating{
    padding-right:  10px;
}

control-label{
    padding-top: 0px !important;
}

