.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
 
#maincontent {
  //position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.forget_password{
	position: relative;
	width: 350px;
	background-color: #D6D6D6;
	margin-top:10%;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Tahoma, Verdana; 
	border-radius: 5px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	animation: fadein 0.5s;
	
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.forget_password .top{
	padding:10px;
	padding-left: 30px;
	background-color: #444;
	color: #fff;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.forget_password .middle{
	width: 300px;
	margin: 5% auto;
}

.forget_password  form{
	font-size: 15px;
	font-weight: bold;
}


.forget_password .middle input[type="text"], 
.forget_password .middle input[type="password"]{
	width: 280px;
	background: #FFFFFF;
	border: solid 1px #E5E5E5;
	margin-top: 10px;
	padding: 10px;
	display:block;
	font-size:100%;
	background: 
		-webkit-gradient(linear,left top,left 25,from(#FFFFFF),color-stop(4%, #EEEEEE),to(#FFFFFF));
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
	transition: background 2s;
        font-weight: bold;

}

.forget_password .middle input[type="text"]:focus{
	background: #feffef;
	outline: none !important;
}

.forget_password .bottom{
    background-color:#444;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    
}

.forget_password .bottom table{
    width: 100%;
}

.forget_password .bottom input[type="submit"] {
    background: #e3e3e3;
    border: 2px solid #ccc;
    color: #333;
    font-family: Helvetica, Tahoma, Verdana; 
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    width: 100px;
    margin-right: 5px;
    cursor:pointer;  
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;	
    transition:background 0.5s;
}

.forget_password .bottom input[type="submit"]:hover {
    background:#feffef;
}
.forget_password .yellow_text{
    text-decoration: none;
    font-weight: 700;
    color: #9C9900;
    font-size: 13px;
    float:right;
    transition:color 0.5s;
    
}

.forget_password a:hover{
	color: #000;
}

label.error{
    color: #FF0000;
    font-size: 15px;
    display: block;
}

input.error{
    border:2px solid red !important;		
}


	